.app {
  text-align: center;
  padding-bottom: 1rem;
}

.playarea {
  display: flex;
  flex-direction: row;
}

.container {
  padding: 0 4rem;
}

#file {
  display: none;
}

form {
  display: flex;
  justify-content: flex-end;
}

.file-upload {
  display: flex;
  width: 17.5rem;
  justify-content: space-around;
  border: 2px solid #cdd9e5;
  font-family: psychedelic;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 32px;
  border-radius: 12px;
  padding: 5px 8px;
  cursor: pointer;
}
.file-upload:hover, .file-upload:focus {
  color: #fff;
  border-color: #fff;
}

/* UPLOAD */

.upload {
  flex: 1;
  border-right: 2px solid #cdd9e5;
  text-align: right;
}
.upload .preview {
  margin-top: 2rem;
}
.upload .preview img {
  max-width: 100%;
  max-height: 50vh;
}

/* SUMMERY */

.summery {
  flex: 1;
  text-align: left;
}

.summery .palette {
  max-width: 25vw; /* TODO: Remake this in a prettier way */
}

/* SWATCHES */

.swatches {
  flex-direction: row;
  flex-wrap: wrap;
}

.swatch {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem;
  /* flex: 1 1 33%; grow | shrink | basis */
}

.ball {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #ddd;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
}
.ball.copied {
  box-shadow: -2.5px -2.5px 20px 2.5px #cdd9e5, 2.5px 2.5px 20px 5px #df8039;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.links {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px;
}

@media only screen and (max-width: 768px) {
  .playarea {
    flex-direction: column;
  }

  .upload, .summery {
    text-align: center;
    border: none;
  }

  .summery .palette {
    max-width: 50vw;
    margin: auto;
  }

  .file-upload  {
    width: 10rem;
    font-size: 1.25rem;
    border-radius: 6px;
    align-items: center;
  }

  .file-upload img {
    width: 16px;
  }

  form {
    justify-content: center;
  }
}