.app {
  text-align: center;
}

.playarea {
  display: flex;
}

.container {
  padding: 0 4rem;
}

#file {
  display: none;
}
.file-upload {
  border: 2px solid #cdd9e5;
  font-family: psychedelic;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 32px;
  border-radius: 12px;
  padding: 5px 8px;
  cursor: pointer;
}
.file-upload:hover, .file-upload:focus {
  color: #fff;
  border-color: #fff;
}

/* .file-upload:hover, .file-upload:focus svg {
  fill: #fff;
} */

/* UPLOAD */

.upload {
  flex: 1;
  border-right: 2px solid #cdd9e5;
  text-align: right;
}
.upload .preview {
  margin-top: 2rem;
}
.upload .preview img {
  max-width: 100%;
  max-height: 50vh;
}

/* SUMMERY */

.summery {
  flex: 1;
  text-align: left;
}

.summery .palette {
  max-width: 25vw; /* TODO: Remake this in a prettier way */
}

/* SWATCHES */

.swatches {
  flex-direction: row;
  flex-wrap: wrap;
}

.swatch {
  display: inline-flex;
  flex-direction: column;
  padding: 0.5rem;
  /* flex: 1 1 33%; grow | shrink | basis */
}

.ball {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #ddd;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
}
